
<div class="lien_he pt-5" style="background: url('{{img}} ');">
    <h1 class="text-center mt-0 text-white">CÁC CHI NHÁNH VIETNAM AIRLINES</h1>
    <div class="container bg-light p-5 rounded w-75">
        <div class="bg-opacity-10 bg-info-subtle border border-primary p-3 rounded m-3">
            <span class="fw-bold ">Tổng Công ty Hàng không Việt Nam - CTCP</span>
            <br><span class="">200 Nguyễn Sơn, Quận Long Biên, Hà Nội, Việt Nam </span>
            <br><span class="fw-bold ">Trung tâm chăm sóc khách hàng tại Việt Nam:</span>
            <span class="">giờ hoạt động: 24/7 </span>
            <br><span class="">
                <i class="bi bi-telephone-forward-fill"></i>
                Gọi trong lãnh thổ Việt Nam: <a href="">+0987452224</a>
                <br>
                   Gọi ngoài lãnh thổ Việt Nam: <a href="">+0987452224</a> </span>
                <br>
                <i class="bi bi-envelope"></i>
                Email: <a href="">Telesales@vietnamairlines.com</a>
        </div>
        <div class="bg-opacity-10 bg-white border border-primary p-3 rounded m-3">
            <span class="fw-bold ">Chương trình Bông Sen Vàng <br>
                Trung tâm chăm sóc Hội viên Bông Sen Vàng</span>
            <br><span class="">Thời gian phục vuh 24/24</span>
            <br><span class="">
                Tổng đài: <br>
                <i class="bi bi-telephone-forward-fill"></i>
                Gọi trong lãnh thổ Việt Nam: <a href="">+0987452224</a>
                <br>
                   Gọi ngoài lãnh thổ Việt Nam: <a href="">+0987452224</a> </span>
                <br>
                <i class="bi bi-envelope"></i>
                Email: <a href="">Telesales@vietnamairlines.com</a>
        </div>
        <div class="bg-opacity-10 bg-info-subtle border border-primary p-3 rounded m-3">
            <span class="fw-bold ">Tổng Công ty Hàng không Việt Nam - CTCP</span>
            <br><span class="">200 Nguyễn Sơn, Quận Long Biên, Hà Nội, Việt Nam </span>
            <br><span class="fw-bold ">Trung tâm chăm sóc khách hàng tại Việt Nam:</span>
            <span class="">giờ hoạt động: 24/7 </span>
            <br><span class="">
                <i class="bi bi-telephone-forward-fill"></i>
                Gọi trong lãnh thổ Việt Nam: <a href="">+0987452224</a>
                <br>
                   Gọi ngoài lãnh thổ Việt Nam: <a href="">+0987452224</a> </span>
                <br>
                <i class="bi bi-envelope"></i>
                Email: <a href="">Telesales@vietnamairlines.com</a>
        </div>
        
    </div>
</div>